<html lang="en">


  <body>
    <app-menu></app-menu>

    <div class="jumbotron">
      <div class="container text-center">
        <img src="assets\Imagens\home1.jpg" style="width:100%">
      </div>
    </div>

    <div class="container-fluid bg-3 text-center">
      <h3>Grãos</h3><br>
      <div class="row">

        <div class="col-sm-3">
          <!--<p>Some text..</p>-->
          <img src="assets\Imagens\arroz.jpg" class="img-responsive" style="width:100%" alt="Image">
            <!--<li [ngClass]="{active: activeRoute('/carrinho')}"><a routerLink="carrinho">Inserir</a></li>-->
        </div>
        <div class="col-sm-3">
          <!--<p>Some text..</p><!-->
          <img src="assets\Imagens\cevada.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
          <!--<p>Some text..</p>-->
          <img src="assets\Imagens\feijaoC.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
        <div class="col-sm-3">
          <!--<p>Some text..</p>-->
          <img src="assets\Imagens\feijaoP.jpg" class="img-responsive" style="width:100%" alt="Image">
        </div>
      </div>
    </div><br>

    <div class="container-fluid bg-3 text-center">
      <div class="row">
        <div class="col-sm-3">
          <p>Arroz branco</p>
          <p>R$18,49 Kg</p>
          <img src="assets\Imagens\milho.jpg" class="img-responsive" style="width:100%" alt="Image">
          <p>Milho</p>
          <p>R$44,15 Kg</p>
        </div>
        <div class="col-sm-3">
          <p>Cevada</p>
          <p>R$18,68 Kg</p>
          <img src="assets\Imagens\girassol.jpg" class="img-responsive" style="width:100%" alt="Image">
          <p>Semente de girassol</p>
          <p>R$48,40 Kg</p>
        </div>
        <div class="col-sm-3">
          <p>Feijão carioca</p>
          <p>R$22,00 Kg</p>
          <img src="assets\Imagens\soja.jpeg" class="img-responsive" style="width:100%" alt="Image">
          <p>Soja</p>
          <p>R$35,00 Kg</p>
        </div>
        <div class="col-sm-3">
          <p>Feijão preto</p>
          <p>R$28,65 Kg</p>
          <img src="assets\Imagens\trigo.jpg" class="img-responsive" style="width:100%" alt="Image">
          <p>Trigo</p>
          <p>R$22,10 Kg</p>
        </div>
      </div>

      <footer class="container-fluid text-center">
        <p>Footer Text</p>
      </footer>

    </div><br><br>

  </body>

</html>
